.App {
  text-align: center;
  font-family: sans-serif;
  max-width: 600px;
  margin: 30px auto;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/235/original/364641-4k-wallpaper_%281%29.jpg?1685089298");
  background-size: cover;
  background-color: #5585b5;
  color: #000;
  font-weight: 300px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  border: solid 4px #5585b5;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mb-3 {
  text-align: center;
}
.city-search {
  margin: 0px auto;
  padding: 10px 10px 10px 10px;
}

.input-form {
  border: solid 2px #5585b5;
  border-radius: 6px;
  font-size: 16px;
  padding: 6px;
  height: 38px;
}
input {
  outline-color: #53a8b6;
}
.btn {
  border: solid 1px #53a8b6;
  color: #fff;
  background-color: #53a8b6;
  transition: all 150ms ease;
}
.btn:hover {
  border: solid 1px #79c2d0;
  color: #fff;
  background-color: #79c2d0;
  cursor: pointer;
}
h1 {
  font-weight: 300;
  font-size: 36px;
  text-align: justify;
  margin: 0px;
  padding: 10px 10px 0px 10px;
}
h2 {
  text-align: justify;
  font-size: 16px;
  margin: 0px;
  padding: 10px 10px 0px 10px;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
